spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.OracleDialect

server:
  port: 8080
  servlet:
    context-path: /api/spring

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

jwt:
  key: ${JWT_KEY}
  expiration: ${JWT_EXPIRATION}

viacep:
  url: ${VIACEP_URL}
