spring:
  datasource:
    url: ${DATABASE_URL}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false

server:
  port: 8081
  servlet:
    context-path: /api/spring

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

jwt:
  key: ${JWT_KEY}
  expiration: ${JWT_EXPIRATION}

viacep:
  url: https://viacep.com.br/ws
