spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=Oracle
    username: sa
    password: ""
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  flyway:
    enabled: false

server:
  port: 8080
  servlet:
    context-path: /api/spring

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

jwt:
  key: dGVzdC1zZWNyZXQta2V5
  expiration: 120

viacep:
  url: https://viacep.com.br/ws

project:
  database: "H2 in memory"
  environment-name: "Test"
