spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ""

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
  servlet:
    context-path: /api/spring

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

viacep:
  url: https://viacep.com.br/ws
